nav {
    display: flex;
    margin: 0 auto;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    background-color: #ACC6BC;
    border: 2px, solid, #C6ACB6;
    border-radius: 7px;
    flex-wrap: wrap;
}

@media (max-width: 820px) {
  nav a {
    min-width: 30%;
  }
}

@media (max-width: 410px) {
  nav {
    flex-direction: column;
  }
}

@media (max-width: 230px) {
  nav {
    font-size: 0.7em;
  }
}

@media (max-width: 180px) {
  nav {
    font-size: 0.55em;
  }
}

.navbar {
    margin: 1rem;
    font-family: Helvetica, arial;
    color: black;
    font-weight: 700;
}

header {
  text-align: center;
  font-family: Papyrus, fantasy;
}

#frogcontainer {
  margin: 0 auto;
  /* credit to this post: https://stackoverflow.com/questions/67289297/set-width-of-element-based-on-content-within for giving me this thing. */
  width: fit-content;
}

#frogcontainer img {
  height: auto;
  min-width: 1.5em;
}